/* Assignment 2B 
 * addressbook.css is part of the View in the MVC pattern for the CRUD address book
 * website designed for this assignment.
 *
 * To make the code for the View look as presentable as possible, the developer has decided
 * to put all styles in a separate CSS document. Running the website without this stylesheet
 * will render only the default white and black colour scheme of HTML.
 *
 * Jude Pineda jmp846 11094980
 * Mark Nguyen mtn610 */

body { 
	background-color: #DDDDDD; 
} 

#Layer1 { 
	margin: auto; 
	width: 484px; 
	height: 308px; 
	z-index: 1; 
} 

/* This is for the teeny tiny text underneath Name that says First Name and Last Name */
#smalltext {
	color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	margin-top: 0px;
}

#basicinfo, #moreinfo, #extrainfo{ 
	color: #000000; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #BDB69C; 
	margin-top: 5px; 
	 
} 

#add-contact-form{ 
	color: #717D8C; 
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	padding: 10px; 
} 

#add-contact-btn,
#save-contact-btn,
#cancel-btn{ 
	background-color: #41AAC4; 
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #666666; 
	color: #000; 
	text-decoration: none; 
	padding: 2px; 
	font-weight: bold; 
} 

h1{ 
	color: #2F343A; 
	font-family: Arial, Helvetica, sans-serif; 
} 

#list-title{ 
	color: #2F343A; 
	font-weight: bold; 
	font-size: 14px; 
	font-family: Arial, Helvetica, sans-serif; 
	margin-top: 10px; 
} 

#contacts-lists{ 
	color: #FF6600; 
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
} 

#contacts-lists a{ 
	background-color: #FF9900; 
	text-decoration: none;              
	padding: 2px; 
	color: #000; 
	margin-bottom: 2px; 
} 
#contacts-lists li{ 
	list-style: none; 
	border-bottom: 1px dashed #666666; 
	margin-bottom: 10px; 
	padding-bottom: 5px; 
} 

#notice{ 
	width: 400px; 
	margin: auto; 
	background-color: #FFFF99; 
	border: 1px solid #FFCC99; 
	font-weight: bold; 
	font-family: verdana; 
	margin-top: 10px; 
	padding: 4px; 
}